

@import 'color.scss';

p, li{
  margin-top: 3%;
      font-family: 'Open Sans light', sans-serif;
      font-size: 18.5px;
      font-weight: 300;
      line-height: 1.5em;
			color: #ffffff;
			@media screen and ( min-width: 1440px ) {

				font-size: 23.5px;
					font-weight: 300;

			}
}

  .list-container,
	.article1_container,
	.article2_container,
	.article3_container,
	.article4_container,
	.article5_container,
	.article6_container,
	.article6_container {
		max-width: 85%;
    margin: 7% 11% 4% 13%;
		position: relative;
		}
		ul{
		max-width: 85%;
    margin: 7% 11% 4% 13%;
		/*max-width: 950px;
		margin: 50px auto 50px;*/
		padding-left: 30px;
		}

		li {
		span {
			left: -5px;
		}
		}


.waves {
	position: relative;
.wave1 {
	position: absolute;
	max-width: 20vh;
	margin: 0 auto 0;
	max-width: 20%;
	min-width: 20%;
	margin: auto 0 auto;
	padding-left: 10px;
	top: 380px;
	right: 20px;
	transition: top 2s, right 2s;
	@media (max-width: 1500px) {
		top: 550px;
		right:100px;
}
@media (max-width: 1000px) {
	top: 600px;
	right:100px;
}


}

.wave2 {
	position: absolute;
	max-width: 10%;
	min-width: 15%;
	margin: auto 0 auto;
	padding-left: 10px;
	top: 200px;
	@media (max-width: 1500px) {
				display: none;
	}
}
}



.map-car-container {
	.car-container {
	.car{
		max-height: 3vw;
		margin: 20px auto 0 -50%;
	}
}
	.map-container {
	.map{
		max-height: 40vw;
		margin: 0 auto 0 8%;
	}
}
}



