body {
    background: #2f3e49 url("header-img.jpg") no-repeat;
    background-size: 100vw 82vw;
    border: 12px solid #2f3e49;
}

.logo_menu {
	width: 100%;
	margin: 23px auto 0;
}
.logo_menu .logo {
	float: left;
	width: 70px;
	height: 30px;
    margin-left: 26px;
    position: fixed;
    z-index: 10;
    top:23px;
    left: 26px; 
}

.logo_menu .menu {
    float: right;
    width: 30px;
    height: 30px;
    position: fixed;
    z-index: 10;
    top:23px;
    right: 26px
}

#myBtn {
	height: 30px;
	width: 30px;
	cursor: pointer;
    border: 0;
    background: none;
}

.logo img:hover,
#myBtn img:hover {
    filter:hue-rotate(170deg);
}


header {
    min-width: 320px;
}

.header_flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    justify-content: center;
    padding: 130px 20px 100px;
 
}

.header_flex > div {
    align-self: center;
}

.badge {
	max-width: 274px;
	max-height: 274px;
	width: 50vw;
	height: 50vw;
	margin-bottom: 60px;
	min-width: 100px;
}

.header_title h2 {
	background: #73c8de;
	margin-bottom: 60px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	display: flex;
	font-size: 27px;
    padding: 10px 20px;
    color: #2f3e49;
    
    span {
        padding: 0 10px;
    }
}

.header_title img {
	height: 40px;
	margin: 0 10px;
}

.icons {
	text-align: center;
	padding: 10px 0 0;
	display: flex;
    flex-flow: row wrap;
   /* margin-bottom: 100px; */
}

.icons a {
    margin: 5px 7px;
    display: inline-block;
}  
.icons a:hover {
    padding: 0px;
} 

.icons a img {
	max-width: 50px;
	max-height: 50px;
	border: 2px solid #f96400;
	border-radius: 50%;
	width: 10vw;
	min-width: 40px;
}

.icons a:hover img {
    filter:hue-rotate(180deg);
    transform: scale(1.2);
    transform-origin: 50% 50%;
}

.intro {
	width: 100%;
	max-width: 750px;
	margin: 0 auto 50px;
	color: #f96400;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 28px;
    display: block;
    position: relative;
}

.intro_pic {
	position: absolute;
	width: 115px;
	left: -125px;
	top: -23px;
}

.full_wide_img {
    width: 100%;
    margin-bottom: 40px;

}

.full_wide_img img {
	width: 100%;
    height: 100%;
}
.full_wide_img p {
	color: #909090;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 18px;
	margin-bottom: 50px;
	margin: 0px 0 20px;
	padding: 0;
	text-align: left;
}

@media (max-width: 900px) {
    .intro_pic {
        display: none;
    }
    .header_flex {
        padding: 80px 20px 50px;
    }
    .header_title h2 {
        font-size: 20px;
    }
    .logo_menu .logo {
        float: left;
        width: 70px;
        height: 30px;
        margin-left: 26px;
        position: relative;
        z-index: 10;
        top:inherit;
        left: inherit; 
    }
}    

@media (min-width: 1100px) {
    .header_flex {
        padding: 150px 20px 170px;
    }
    .badge, 
    .header_title h2 {
        margin-bottom: 100px;
    }
}    

/* modal */ /* The Modal (background) */

.menu_links {
	list-style-type: none;
	text-align: center;
	margin: 0 0px 0 0;
	max-width: inherit;
	padding: 0 !important;
}

.menu_links {
    li {
        a:link,
        a:visited {
            display: block;
            text-decoration: none;
            color: #333;
        }
        a:hover {
            background: #ddd;
        }
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
	background-color: #f5f5f5;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #333;
	width: 260px;
	position: relative;
}
  
  /* The Close Button */
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	position: absolute;
	right: -12px;
	top: -12px;
	width: 25px;
	height: 25px;
	background: red;
	line-height: 25px;
	text-align: center;
	color: #000;
	border-radius: 50%;
}
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  } 