
#navBar{
	display: flex;
	position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

/*-----------------------------Burger menu START-----------------------------*/
.burgerMenu {
	display: inline-block;
	margin-right: 20px;
	cursor: pointer;
	

	.bar1,
	.bar2,
	.bar3 {
	width: 35px;
	height: 5px;
	background-color: #ff5100;;
	margin: 6px 0;
	transition: 0.4s;
	box-shadow: 1.5px 1.5px #0e0d0d;
}
}

.change .bar1{
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px);
	box-shadow: 1.5px 1.5px #0e0d0da1;
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px);
}

/*dropdown*/
.dropdown {
	display: flex;
	margin: auto 20px;

	#dropCont {
		display: none;
		text-align: center;
	//	position: absolute;
		top: 50px;
		width: 500px;
		//z-index: 1;


		a {
			color: #c4afaf;
			padding: 12px 16px;
			text-decoration: none;
			display: inline-block;
			text-shadow: 5px -3px 8px rgba(241, 231, 231, 0.459);
			font-size: 14px;
			font-weight: 400;
			text-transform: uppercase;
	}

		.bookingLink5{
			color: #ff5100;
		}

	}

}

#dropCont.change {
	display: block;
	background-color: #14141486;
}


/*-----------------------------Burger menu END-----------------------------*/


.landingDiv{
	background-image: url("/img/pizzapicture.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.landingText{
		text-align: center;
		position: absolute;
		margin: 0;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		text-shadow: 3px 3px 5px rgb(8, 8, 8);
		
		h1{
			
			color: rgb(199, 200, 219);
			font-size: 50px;
			margin-bottom: -50px;
			
		}
		h2{
			font-family: 'Mr De Haviland', cursive;
			font-size: 8rem;
			color: #ff5100;
			transform: rotate3d(1, 1, 1, -30deg);
			
			
			

		}
}

.divDivider1, .divDivider2 {
	height: 3px;
	width: 98%;
	margin: 1% auto;
	background-color: rgba(233, 219, 233, 0.062);
	border-radius: 2px;
	box-shadow: 1px 1px #0e0d0d;
}

.wrapper{
	display: flex;
	
}
.textDiv {
	float:left;
	width:65%;
	margin: auto 20px;
	

	h3{
		font-family: 'Mr De Haviland', cursive;
		font-weight: normal;
		color: #ff5100;
		text-align: left;
		font-size: 3rem;
		letter-spacing: 4px;
		margin-bottom: 1%;
		margin-top: 10px;
		margin-left: 20px;
		text-shadow: 3px 3px 5px rgb(8, 8, 8);
	}

	article{
		font-style: italic;
		line-height: 1;
		letter-spacing: -0.5px;
		word-spacing: -2px;
		font-size: 18px;
		font-family: 'Padauk', sans-serif;
		text-align: justify;
		color: #584646;
		padding-bottom: 10px;
		margin: 10px 20px 0 0;
		width: 98%;
		text-shadow: 3px 3px 5px rgb(8, 8, 8);
	}

	span{
		color: #ff5100;
	}

}

.locationDiv{
	text-shadow: 3px 3px 5px rgb(8, 8, 8);
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
	width: 280px;
	min-width: 280px;
	margin: 4rem 3% 3% 5%;
	height: 350px;
	padding-top: 50px;


}
.svgDividerLeft{
	height: 300px;
	width: 20px;
	max-width: 20%;
	min-width: 20%;
	background-image: url(/svg/arrowBrown.svg);
	background-repeat: no-repeat;
	
}

.info{
	margin: 30px auto 30px;
	height: 300px;
	width: 70%;
	

	h6 {
		margin-top: 20px;
		margin-bottom: 10px;
		word-spacing: -2px;
		font-size: 18px;
		font-family: 'Padauk', sans-serif;
		text-align: center;
		color: #ff5100;
		text-transform: uppercase;
	}
	p {
		word-spacing: -2px;
		font-size: 18px;
		font-family: 'Padauk', sans-serif;
		text-align: center;
		color: #584646;
		line-height: 1;
		letter-spacing: -0.5px;
		word-spacing: -2px;

	}

	.bookButton{
		text-align: center;
		padding: 5px 5px;
		background-color: rgba(240, 248, 255, 0);
		margin: 20px;
		border: none;
		text-shadow: 3px 3px 5px rgb(8, 8, 8);
		
		
		a {
		
			font-size: 15px;
			font-weight: bold;
			text-decoration: none;
			text-transform: uppercase;
			color: #ff5100;
		}

	}


}
.svgDividerRight{
	height: 300px;
	width: 20px;
	max-width: 20%;
	min-width: 20%;
	background-image: url(/svg/arrowBrown.svg);
	background-repeat: no-repeat;
	transform: rotate(180deg);
	
}

@media (max-width: 650px) {
	.locationDiv {
			float: unset;
			width: 200px;
	min-width: 280px;
	padding-top: 0;
	margin-left: 40px;
	}
	.wrapper {
		display: unset;
	}
}
